<div class="app-container">
    <div class="navbar">
        <app-users-navbar *ngIf="router.url !== '/'"></app-users-navbar>
    </div>

    <main [@routeAnimations]="prepareRoute(outlet)" class="content">
        <router-outlet #outlet="outlet"></router-outlet>
    </main>

    <!-- Animation -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
