$color-white: #ffffff;
$color-black: #424242;
$color-grey: #e5e5e5;
$color-grey-2: #cccccc;
$color-turquoise: #2d9bbd;
$color-green: #32a842;
$color-red: #a83e32;

/* opacity */
$color-black-opacity: rgb(66, 66, 66, 0.2);
$color-turquoise-opacity: rgb(45, 155, 189, 0.2);
$color-turquoise-opacity-2: rgb(168, 221, 227, 0.2);
