<div class="users-filter">
    <!-- Search icon -->
    <svg-icon
        class="icon"
        src="../../../../../assets/svg/search.svg"
        [svgStyle]="{
            'width.px': 25,
            'height.px': 25
        }"
    ></svg-icon>

    <!-- Search input -->
    <input
        class="user-select-black"
        #searchInput
        type="text"
        [placeholder]="
            searchFilterType === 'users'
                ? 'Search by username or email...'
                : 'Search by username...'
        "
        spellcheck="false"
        (keyup)="handleSearchChange($event)"
    />
</div>
