<div class="add-users">
    <!-- Header -->
    <div class="add-users-header">
        <div class="add-users-header-left">
            <svg-icon
                [ngClass]="{ 'logo-active': addUserForm.valid }"
                src="../../../../../assets/svg/logo.svg"
                [svgStyle]="{
                    'width.px': 50,
                    'height.px':50,
                }"
            ></svg-icon>
        </div>

        <div class="add-users-header-right">
            <button
                type="button"
                class="close-btn"
                matTooltip="Close"
                matTooltipPosition="above"
                matTooltipClass="tooltip"
                (click)="handleCloseModalClick()"
            >
                <svg-icon
                    class="close-icon"
                    src="../../../../../assets/svg/x.svg"
                    [svgStyle]="{
                        'width.px': 15,
                        'height.px': 15
                    }"
                ></svg-icon>
            </button>

            <p class="user-select-none">Add User</p>
        </div>
    </div>

    <!-- Form -->
    <div class="add-users-form">
        <form [formGroup]="addUserForm" (keydown)="onKeyDown($event)">
            <!-- Username input -->
            <mat-form-field>
                <mat-label class="user-select-none">Username</mat-label>
                <input
                    trimInputValue
                    class="user-select-black"
                    formControlName="username"
                    matInput
                    placeholder="Username"
                    spellcheck="false"
                    required
                    (blur)="handleInputOnBlur('username')"
                />
            </mat-form-field>

            <!-- Email input -->
            <mat-form-field class="email-input">
                <mat-label class="user-select-none">Email</mat-label>

                <input
                    trimInputValue
                    class="user-select-black"
                    formControlName="email"
                    matInput
                    placeholder="email@example.com"
                    required
                    spellcheck="false"
                    (blur)="handleInputOnBlur('email')"
                />
            </mat-form-field>

            <!-- Password input -->
            <mat-form-field>
                <mat-label class="user-select-none">Password</mat-label>

                <input
                    class="user-select-black"
                    formControlName="password"
                    #passwordInput
                    matInput
                    [type]="hidePassword ? 'password' : 'text'"
                    (blur)="handleInputOnBlur('password')"
                />

                <button
                    type="button"
                    (click)="switchHidePassword()"
                    [attr.aria-pressed]="hidePassword"
                    [attr.aria-label]="'Hide password'"
                    mat-icon-button
                    matSuffix
                >
                    <mat-icon>{{
                        hidePassword ? 'visibility_off' : 'visibility'
                    }}</mat-icon>
                </button>
            </mat-form-field>

            <!-- Submit button -->
            <app-users-submit-btn
                [buttonType]="'add user'"
                [disabledValue]="addUserForm.invalid"
                (buttonTypeEmitter)="handleButtonTypeEmit($event)"
            ></app-users-submit-btn>
        </form>
    </div>
</div>
