@import '../../../../../styles/variables.scss';

.add-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;

    /* Header */
    &-header {
        display: flex;
        justify-content: space-between;
        border-radius: 0.5rem;

        &-left {
            .logo-active {
                path {
                    transition: fill 0.2s ease-in-out;
                    fill: $color-turquoise;
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p {
                color: $color-turquoise;
                font-weight: 500;
                font-size: 2.1rem;
            }

            .close-btn {
                background: none;
                outline: none;
                border: none;
                margin-bottom: 0.5rem;
                cursor: pointer;

                &:hover {
                    .close-icon {
                        path {
                            fill: $color-turquoise;
                        }
                    }
                }

                .close-icon {
                    path {
                        transition: fill 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    /* Form */
    &-form {
        margin-top: 1rem;
        font-size: 1.6rem;

        mat-form-field {
            width: 100%;
            margin-bottom: -1rem;
        }
    }
}
