@import '../../../../../styles/variables.scss';

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem auto 0 auto;
    max-width: 500px;

    &-button {
        min-width: 3rem;
        height: 3rem;
        padding: unset;
        font-size: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

        &.active,
        &:hover {
            font-weight: 700;
            background: $color-turquoise !important;
            color: $color-white !important;
        }
    }
}
